<!-- your html code here -->
<div class="container">
  <h1>Contact</h1>
  <h4>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
    porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
    cursus commodo.
  </h4>
  <span class="border">
    <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Your E-mail</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your e-mail">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
      </div>
    </form></span>
    <div class="py-5 m-0">
  <h6>Copyright © Your Website 2024</h6>
</div>
</div>