<!-- your html code here -->
<div class="container-fluid mt-">
    <div class="row">
        <div class="col-9 d-flex">
            <h6>This First Heading </h6>
            <h6 class="text-secondary"> Will Catch Your Eye</h6>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo impedit repudiandae doloribus
                    voluptatum vel reiciendis, laborum suscipit! Id ea sit iure quibusdam eligendi eos ratione officia
                    corporis ullam.</p>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>