<!-- your html code here -->
<div class="container-fluid mt-">
    <div class="row">
        <div class="col-9">
            <div class="d-flex">
                <h6>This First Heading</h6>
                <h6 class="text-secondary ms-1">Will Catch Your Eye</h6>
            </div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo impedit repudiandae doloribus
                    voluptatum vel reiciendis, laborum suscipit! Id ea sit iure quibusdam eligendi eos ratione officia
                    corporis ullam.</p>
            </div>
        </div>
        <div class="col-3"><img class="rounded-circle" src="assets/img/1.jpg" alt=""></div>
    </div>
</div>