<!-- your html code here -->
<div class="container-fluid">
    <div class="col-10 mx-auto">
        <div class="row d-flex p-2">
            <h3>Portfolio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. </p>
          </div>
          <div class="row ">
            <div class="col d-flex -flex justify-content-between">
              <div class="card" style="width: 30rem; border: 0;">
                <img class="card-img-top"
                  src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-gray-solid-color-background.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-primary">Proyect Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                </div>
              </div>
            
              <div class="card" style="width: 30rem; border: 0;">
                <img class="card-img-top"
                  src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-gray-solid-color-background.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-primary">Proyect Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                </div>
              </div>
            
              <div class="card" style="width: 30rem; border: 0;">
                <img class="card-img-top"
                  src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-gray-solid-color-background.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-primary">Proyect Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                </div>
              </div>
              </div>
            </div>
          </div>
    </div>
</div>