<!-- your html code here -->
 <div class="container-fluid">
<div class="row" style="margin-top: 50px; padding-left: 50px; padding-right: 60px;">
    <div class="col-3 d-flex justify-content-end">
        <img class="rounded-circle" style="width: 400px; height: 400px;" src="https://media.istockphoto.com/id/1352603244/photo/shot-of-an-unrecognizable-businessman-working-on-his-laptop-in-the-office.jpg?s=612x612&w=0&k=20&c=upiDYeAZEsxbUBdhX35MXm79drIXA-5Q-FcfmZk71lM=" alt="">
    </div>
    <div class="col-9">
        <div class="row">
            <h1>This Second Heading</h1>
            <h1 class="text-secondary">Is Pretty Cool Too.</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
</div>