<!-- your html code here -->
<div class="row">
    <div class="col-4">
        <img class="rounded-circle" style="width: 300px; height: 300px;" src="https://media.istockphoto.com/id/1352603244/photo/shot-of-an-unrecognizable-businessman-working-on-his-laptop-in-the-office.jpg?s=612x612&w=0&k=20&c=upiDYeAZEsxbUBdhX35MXm79drIXA-5Q-FcfmZk71lM=" alt="">
    </div>
    <div class="col-8">
        <h1>This Second Heading</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla</p>
    </div>
</div>