<!-- Tagline Container -->

<div class="container-fluid pe-4 ps-0 mx-0" style="margin-bottom: 20%;">
    <div class="row" style="position: relative;">

        <!-- Image -->
        <div class="col-lg-12">
            <img src="https://eskipaper.com/images/city-skyline-2.jpg"
                style="position:absolute; z-index:-1; object-fit: fill; width: 100%; height: 700px;" ; class="d-block"
                alt="">
        </div>

        <!-- One Page Wonder Tagline -->
        <div class="col-lg-12 mx-3">
            <p style="margin-top: 65px; font-size: 140px; font-weight:600; background-color: white; width: 99%; object-position: top;"
                class="text-center lh-sm mx-2;">One Page Wonder</p>
        </div>

        <!-- Will Knock Your Socks Off Tagline -->

        <div class="col-lg-12 ms-3 me-3">
            <p style="font-size: 80px; font-weight: bolder; background-color: white; width: 99%;"
                class="text-center mx-1 lh-sm">Will Knock Your Socks Off</p>
        </div>
    </div>
</div>